$font-russo: "Russo One", sans-serif;
$font-exo: "Exo", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$color-primary-blue: #4d9de0; //main cta + active buttons
$color-primary-pink: #bc6ff1; //headlines + highlight

$color-secondary-pink: #ef4db6; //secondary buttons + hover + attention

$color-accent-green: #3ef4d7; //links, points, small things
$color-accent-yellow: #f39f18; //?

$color-background-purple: #2d142c; //main + secondary background
$color-background-purple-transparent: #2d142c86; //main + secondary background
$color-background-blue: #090c16; //other sections
$color-background-blue-transparent: #090c1681; //other sections

$color-text: #d1d1d1; //
$color-white: #ffffff;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $color-background-blue;
}

//MIXINS

// @mixin  {
//     @media (min-width: 576px) {
//         @content;
//     }
// }

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1239px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1240px) {
        @content;
    }
}

@mixin font-size($size) {
    font-size: $size;

    @media (min-width: 1024px) {
        font-size: $size * 0.7;
    }
}

//FLEX
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-layout($direction: null, $justify: null, $align: null, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

//Styling
@mixin font-styling($family: null, $size: null, $weight: null, $spacing: null, $color: null) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    color: $color;
}

@mixin input-styling($padding: null, $borderRadius: null, $border: null, $background: null) {
    padding: $padding;
    border-radius: $borderRadius;
    border: $border;
    background: $background;
}

@mixin absolute-position($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin box-shadow($x: 0, $y: 2px, $blur: 4px, $color: rgba(65, 65, 65, 0.096)) {
    box-shadow: $x $y $blur $color;
}

//Buttons

@mixin button-base {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: $font-montserrat;
    font-weight: 500;
}

@mixin primary-button {
    @include button-base;
    background-color: $color-primary-blue;
    color: white;

    &:hover {
        background-color: $color-secondary-pink;
        transition: all 0.3s ease-in-out;
        text-decoration: underline;
    }
}

@mixin secondary-button {
    @include button-base;
    background-color: $color-primary-purple;
    color: white;

    &:hover {
        background-color: $color-secondary-pink;
        transition: all 0.3s ease-in-out;
        text-decoration: underline;
    }
}

@mixin links {
    color: $color-accent-green;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: $font-montserrat;
    cursor: pointer;

    &:hover {
        color: $color-secondary-pink;
        transition: all 0.3s ease-in-out;
    }
}

@mixin heading {
    font-family: $font-russo;
    font-weight: bold;
    color: $color-white;
}

@mixin subheading {
    font-family: $font-russo;

    letter-spacing: 2px;
    font-weight: bold;
    color: $color-secondary-pink;
}

//SELECTORS

%fullWidth {
    width: 100%;
    height: 100%;
}

%smallCard {

    border: 3px solid #fe019a;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $color-background-blue;


    @include desktop{
        padding: 1.5rem 1rem;
    }
    h3 {
        // font-size: 22px;
        font-family: $font-russo;
        font-weight: bold;
        color: $color-background-blue;
        color: #ffffff;

        @include tablet {
            font-size: 28px;
        }

        @include desktop {
            font-size: 30px;
        }
    }

    span {
        font-weight: bold;
        font-family: $font-montserrat;
        color: rgb(148, 39, 239);
        background: -webkit-linear-gradient(90deg, #9427ef, #6699f7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include tablet {
            font-size: 25px;
        }

        @include desktop {
            font-size: 28px;
        }
    }

    p {
        font-family: $font-montserrat;
        font-weight: bold;
        color: $color-background-blue;
        color: #ffffff;

        @include tablet {
            font-size: 25px;
        }

        @include desktop {
            font-size: 25px;
        }
    }

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
    }
}

%card {
    background: rgb(216, 211, 255);
    background: linear-gradient(
        90deg,
        rgba(216, 211, 255, 1) 0%,
        rgba(194, 236, 254, 1) 48%,
        rgba(187, 244, 255, 1) 100%
    );
    border: 3px solid #3ef4d7;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;

    .card-header {
        @include desktop{
            width: 100%;
        }
    }

    h2 {
        font-family: $font-russo;
        font-weight: bold;
        color: $color-background-blue;

       
    }

    span {
        color: rgb(148, 39, 239);
        background: -webkit-linear-gradient(90deg, #9427ef, #75a3f8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-family: $font-montserrat;
        font-weight: 500;
        color: $color-background-blue;

        @include tablet {
            font-size: 18px;
        }
        @include desktop {
            font-size: 20px;
        }
    }

    .card-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        @include tablet {
            gap: 10rem;
        }
    }

    button {
        color: white;
        font-weight: bold;
        font-family: $font-montserrat;
        border: none;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background: rgb(216, 211, 255);
        background: linear-gradient(90deg, #f801c8, #9b00e0, #3007e0);
        font-size: 15px;
        cursor: pointer;
    
        
        @include tablet {
            font-size: 20px;
            padding: 1rem 2rem;
        }
        @include desktop {
            font-size: 21px;
            padding: 1rem 2rem;
        }
    }


    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
    }

    @media (min-width: 768px) {
        padding: 1.5rem;
    }

    @media (min-width: 1240px) {
        padding: 2rem;
    }
}
